openapi: 3.0.3
info:
  title: Salesforce Lead Ingestion API
  description: |
    Subset of the Salesforce REST API used for Lead ingestion.
    All paths are relative to the Lumina Solar Salesforce production instance
    (https://luminasolar.my.salesforce.com).
  version: "1.0.0"

servers:
  - url: https://luminasolar.my.salesforce.com
    description: Lumina Solar Salesforce production instance

security:
  - bearerAuth: []

paths:
  /services/data/v60.0/sobjects/Lead/describe:
    get:
      operationId: describeLead
      summary: Describe Lead object
      description: Returns metadata for the Lead object including all fields, types, and constraints.
      tags:
        - Lead
      responses:
        "200":
          description: Lead object metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /services/data/v60.0/sobjects/Lead:
    post:
      operationId: createLead
      summary: Create a Lead
      description: Inserts a new Lead record. Requires at least LastName and Company.
      tags:
        - Lead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeadInput"
      responses:
        "201":
          description: Lead created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /services/data/v60.0/sobjects/Lead/{ExternalIdField}/{externalIdValue}:
    patch:
      operationId: upsertLead
      summary: Upsert a Lead by External ID
      description: |
        Inserts or updates a Lead matched by the given External ID field and value.
        Returns 201 if created, 204 if updated.
      tags:
        - Lead
      parameters:
        - name: ExternalIdField
          in: path
          required: true
          description: API name of the External ID field (e.g., External_Id__c).
          schema:
            type: string
            example: External_Id__c
        - name: externalIdValue
          in: path
          required: true
          description: The external ID value to match.
          schema:
            type: string
            example: LEAD-2026-00142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeadInput"
      responses:
        "201":
          description: Lead created (no match found)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveResult"
        "204":
          description: Lead updated (existing match found)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Salesforce OAuth 2.0 access token

  schemas:
    LeadInput:
      type: object
      required:
        - FirstName
        - LastName
        - Email
        - Phone
        - Street
        - City
        - State
        - PostalCode
        - Lead_Campaign__c
        - UTM_Source__c
      properties:
        FirstName:
          type: string
          example: Jon
        LastName:
          type: string
          example: Doe
        Company:
          type: string
          example: Doe Roofing LLC
        Email:
          type: string
          format: email
          example: jon.doe@example.com
        Phone:
          type: string
          example: "8025551234"
        MobilePhone:
          type: string
          example: "8025559876"
        Street:
          type: string
          example: 123 Main St
        City:
          type: string
          example: Saxtons River
        State:
          type: string
          example: VT
        PostalCode:
          type: string
          example: "05154"
        Country:
          type: string
          example: US
        Status:
          type: string
          description: "Required picklist field (e.g., New, Contacted, Qualified)."
          example: New
        LeadSource:
          type: string
          example: Web
        Industry:
          type: string
          example: Utilities
        Website:
          type: string
          format: uri
          example: https://example.com
        NumberOfEmployees:
          type: integer
          example: 10
        Lead_Campaign__c:
          type: string
          description: "Required. Name of the partner company sending the lead."
          example: Acme Solar Partners
        UTM_Source__c:
          type: string
          description: "Required. Must be set to 'Partner' for all partner-submitted leads."
          example: Partner
        UTM_Medium__c:
          type: string
          description: UTM Medium tracking parameter.
          example: cpc
        UTM_Campaign__c:
          type: string
          description: UTM Campaign tracking parameter.
          example: solar-spring-2026
        UTM_Content__c:
          type: string
          description: UTM Content tracking parameter.
          example: hero-banner
        UTM_Term__c:
          type: string
          description: UTM Term tracking parameter.
          example: solar panels vermont
        Traffic_Source__c:
          type: string
          example: Google Ads
        Landing_Page_URL__c:
          type: string
          example: https://luminasolar.com/get-quote
        gclid_Google_Click_ID__c:
          type: string
          description: Google Click ID for ad attribution.
          example: EAIaIQobChMI...
        fbclid_Facebook_Click_ID__c:
          type: string
          description: Facebook Click ID for ad attribution.
          example: AbC123dEf456
        Channel__c:
          type: string
          example: Paid Search
        Average_Electric_Bill__c:
          type: number
          description: Monthly electric bill in USD.
          example: 185.00
        External_ID__c:
          type: string
          description: External system identifier for upsert matching.
          example: LEAD-2026-00142
      additionalProperties: true

    SaveResult:
      type: object
      properties:
        id:
          type: string
          example: "00Q5e000001abc1EAA"
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ApiError"

    ApiError:
      type: object
      properties:
        message:
          type: string
        errorCode:
          type: string
        fields:
          type: array
          items:
            type: string

    DescribeResult:
      type: object
      properties:
        name:
          type: string
          example: Lead
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              length:
                type: integer
              nillable:
                type: boolean
              createable:
                type: boolean
              updateable:
                type: boolean
              picklistValues:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    active:
                      type: boolean

  responses:
    BadRequest:
      description: Invalid payload — missing required fields, bad picklist value, or invalid field name.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
    Unauthorized:
      description: Access token is missing, expired, or invalid.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: The authenticated user lacks permission on the Lead object.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
