openapi: 3.0.3
info:
  title: Sales Partner Lead Ingestion API
  description: |
    Subset of the Salesforce REST API used for Sales Partner Lead ingestion.
    All paths are relative to the Lumina Solar Salesforce production instance
    (https://luminasolar.my.salesforce.com).
  version: "1.0.0"

servers:
  - url: https://luminasolar.my.salesforce.com
    description: Lumina Solar Salesforce production instance

security:
  - bearerAuth: []

paths:
  /services/data/v60.0/sobjects/Sales_Partner_Lead__c/describe:
    get:
      operationId: describeSalesPartnerLead
      summary: Describe Sales Partner Lead object
      description: Returns metadata for the Sales_Partner_Lead__c object including all fields, types, and constraints.
      tags:
        - Sales Partner Lead
      responses:
        "200":
          description: Sales Partner Lead object metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /services/data/v60.0/sobjects/Sales_Partner_Lead__c:
    post:
      operationId: createSalesPartnerLead
      summary: Create a Sales Partner Lead
      description: Inserts a new Sales_Partner_Lead__c record.
      tags:
        - Sales Partner Lead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesPartnerLeadInput"
      responses:
        "201":
          description: Record created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /services/data/v60.0/sobjects/Sales_Partner_Lead__c/{ExternalIdField}/{externalIdValue}:
    patch:
      operationId: upsertSalesPartnerLead
      summary: Upsert a Sales Partner Lead by External ID
      description: |
        Inserts or updates a Sales_Partner_Lead__c matched by the given External ID field and value.
        Returns 201 if created, 204 if updated.
      tags:
        - Sales Partner Lead
      parameters:
        - name: ExternalIdField
          in: path
          required: true
          description: API name of the External ID field (e.g., External_ID__c).
          schema:
            type: string
            example: External_ID__c
        - name: externalIdValue
          in: path
          required: true
          description: The external ID value to match.
          schema:
            type: string
            example: LEAD-2026-00142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesPartnerLeadInput"
      responses:
        "201":
          description: Record created (no match found)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveResult"
        "204":
          description: Record updated (existing match found)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Salesforce OAuth 2.0 access token

  schemas:
    SalesPartnerLeadInput:
      type: object
      required:
        - First_Name__c
        - Last_Name__c
        - Email__c
        - Phone__c
        - Street__c
        - City__c
        - State__c
        - Postal_Code__c
        - UTM_Source__c
        - OwnerId
      properties:
        First_Name__c:
          type: string
          example: Jon
        Last_Name__c:
          type: string
          example: Doe
        Email__c:
          type: string
          format: email
          example: jon.doe@example.com
        Phone__c:
          type: string
          example: "8025551234"
        Street__c:
          type: string
          example: 123 Main St
        City__c:
          type: string
          example: Saxtons River
        State__c:
          type: string
          example: VT
        Postal_Code__c:
          type: string
          example: "05154"
        UTM_Source__c:
          type: string
          description: "Required. Must be set to 'Partner' for all partner-submitted leads."
          example: Partner
        OwnerId:
          type: string
          description: "Required. 18-character Salesforce User or Queue ID. Retrieve via /chatter/users/me."
          example: "005XXXXXXXXXXXXXXX"

    SaveResult:
      type: object
      properties:
        id:
          type: string
          example: "a7XTV000000TyC52AK"
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ApiError"

    ApiError:
      type: object
      properties:
        message:
          type: string
        errorCode:
          type: string
        fields:
          type: array
          items:
            type: string

    DescribeResult:
      type: object
      properties:
        name:
          type: string
          example: Sales_Partner_Lead__c
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              length:
                type: integer
              nillable:
                type: boolean
              createable:
                type: boolean
              updateable:
                type: boolean
              picklistValues:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    active:
                      type: boolean

  responses:
    BadRequest:
      description: Invalid payload — missing required fields, bad picklist value, or invalid field name.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
    Unauthorized:
      description: Access token is missing, expired, or invalid.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: The authenticated user lacks permission on the Sales_Partner_Lead__c object.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApiError"
